obj/
bin/
.lvimrc
.gdb_history
.vscode/
*.o
back
*.org
kern/fat.tar.gz

boot/*
memos/book/*
tools/dump
coreutils-8.32/*
!coreutils-8.32/src
coreutils-8.32/src/*
!coreutils-8.32/src/*.[ch]
coreutils-8.32/src/coreutils.h
coreutils-8.32/src/version.[ch]

dash-0.5.11.5/*
!dash-0.5.11.5/src
dash-0.5.11.5/src/*
!dash-0.5.11.5/src/*.[ch]

binutils-2.38/
